<!DOCTYPE html>

<html>


<head>
    <title><%= @page_title %></title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script src="/javascripts/jquery-3.5.0.js" type='text/javascript'></script>
    <script src="/javascripts/app.js" type='text/javascript'></script>
</head>

<body>
    <% if session[:error] %>
        <section class="flash">
            <%= session.delete(:error) %>
        </section>
    <% end %>
    <% if session[:success] %>
        <section class="flash">
            <%= session.delete(:success) %>
        </section>
    <% end %>
    <%= yield %>
</body>

</html>