<section>
  <form action="/users/signin" method="post">
  <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="<%= params[:username] %>">
    <br />
  <label for="password">Password</label>
    <input type="text" name="password" id="password" value="<%= params[:password] %>">
    <br />
  <button type="submit">
    Sign In</button>
  </form>
</section>